--index-url https://pypi.python.org/simple/

# Unit test stuff
pytest==3.2.2
pytest-pep8==1.0.6

# Deep Learning frameworks
tensorflow==2.5.0
theano==0.9.0
# Cannot add pytorch here since installation with pip fails

# Our package in dev mode
-e .
